*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: rgb(255, 0, 0);
    --red-dark: rgb(192, 0, 0);
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
    background-color: white;
    font-family: sans-serif;
    padding: 2rem;
}

main{
    width: 100%;
    padding: 5rem;
}

main > div{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    margin-top: 5rem;
}

main > div > img{
    width: 30%;
}

#productInfo{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#prijs{
    color: var(--red);
    font-weight: bold;
    font-size: 3rem;
}

body.dark-mode #prijs{
    color: var(--red-dark);
}

#voorraad{
    color: green;
    font-weight: bold;
    border: solid 0.2rem;
    max-width: max-content;
}

#productInfo > a{
    color: black;
    background-color: orange;
    padding: 1rem;
    border-radius: 1rem;
    width: max-content;
}